<p style="color: green"><%= notice %></p>

<h1>Unidades</h1>

<div id="unidades">
  <% @unidades.each do |unidade| %>
    <%= render unidade %>
    <p>
      <%= link_to "Ver", unidade %>
    </p>
  <% end %>
</div>

<%= link_to "Nova unidade", new_unidade_path %>
