<h1>Pagina do administrador</h1>



<%= link_to "Cadastrar Unidade", unidades_path %>
</br>
<%= link_to "Cadastrar Setor", setors_path %></br>
<%= link_to "Cadastrar colaborador", profissionals_path %></br>
<%= link_to "Cadastrar novo usuario",  new_user_registration_path %>
